<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">You want it? We got what you need!</h2>
                <hr class="light">
                <p class="text-faded">From exterior decks and barns to interior bathrooms and basements. Call for your free estimate. No strings attached!</p>
                <a href="tel:810-632-7804" class="btn btn-default btn-xl">810-632-7804</a>
            </div>
        </div>
    </div>
</section>
