<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Let's Get In Touch!</h2>
                <hr class="primary">
                <p>Ready to start your next project? Give us a call for your free estimate!</p>
            </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
          <center> <a href="tel:1-847-555-5555">1-847-555-5555</a> </center>
            <i class=" 1-800-Riley-Paint -3x wow bounceIn" data-wow-delay=".1s"></i>
            </a>
        </div>
    </div>
</section>
